.card  {
    margin-left: auto;
    margin:40px auto;
    display: flex;
    justify-content: space-around;
    padding: 15px 35px;
    max-width: 400px;
    background-color: #ddebf8;
    
}

.DanG {
    width: 125px;
    height: 125px;
}

.border {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 10px ;
    border-style: solid;
    border-color: #d8cefe;
}

.text {
    text-align: center;
    color: #2b2839; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
} 