.main{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.link-img {
    margin-bottom: 15px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.input-texts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 24px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    border-width: 1px;
    border-color: #dfe1e5;
    border-radius: 24px;
}

.button {
    background: #dfe1e5;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14p
}

.button-wrapper {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
}